mixin bx-breadcrumb(o)
  .bx-breadcrumb
    .bx-breadcrumb-item
      a(href='/')
        span Главная
    .bx-breadcrumb-item
      i.fa.fa-angle-right
      a(href='/')
        span Каталог
    .bx-breadcrumb-item
      i.fa.fa-angle-right
      a(href='/')
        span Матрасы        
    .bx-breadcrumb-item
      i.fa.fa-angle-right
      a(href='/') Матрас ортопедический А20             