include head/head
include scripts/scripts
include index/index
include cart-prod/cart-prod
include cart/cart
include contacts/contacts
include akcii-all/akcii-all
include catalog/catalog
include product/product
include text/text