mixin footer(o)
  // begin container_banner
  .container.container_banner
    a(href='/magazin')
      img(src='img/banner.jpg', alt='')
  // end container_banner
  // begin container_f
  footer.container.container_f
    // begin footer
    .footer
      .footer__contacts
        .logo.logo_f
          a.logo__link(href='#')
            img(src='img/logo.png', alt='')
        .contacts.contacts_f._d-ib
          span
            | +7 (495) 558-61-63
            br
            | info@osleep.ru
        .share
          a(href='http://vk.com/orthosleep', target='_blank')
            img(src='img/vk.png', alt='')
          a(href='https://www.facebook.com/107337676295040/', target='_blank')
            img(src='img/fb.png', alt='')
          a(href='http://ok.ru/group/53716697612541', target='_blank')
            img(src='img/ok.png', alt='')
      ul.prod-ul._d-ib._f-margin
        p.prod-ul__title Продукция
        li.prod-ul__item
          a.prod-ul__link(href='#') Матрасы
        li.prod-ul__item
          a.prod-ul__link(href='#') Кровати
        li.prod-ul__item
          a.prod-ul__link(href='#') Наматрасники
        li.prod-ul__item
          a.prod-ul__link(href='#') Основания
        li.prod-ul__item
          a.prod-ul__link(href='#') Подушки
        li.prod-ul__item
          a.prod-ul__link(href='#') Компания
      ul.page-list.page-list_1._d-ib._f-margin
        li.page-list__item
          a.page-list__link(href='#') О компании
        li.page-list__item
          a.page-list__link(href='#') События
        li.page-list__item
          a.page-list__link(href='#') Связаться с нами
        li.page-list__item
          a.page-list__link(href='#') Магазины
        li.page-list__item
          a.page-list__link(href='#') Энциклопедия сна
        li.page-list__item
          a.page-list__link(href='#') Магазин
      ul.page-list.page-list_2._d-ib._f-margin
        li.page-list__item
          a.page-list__link(href='#') О продавце
        li.page-list__item
          a.page-list__link(href='#') Страница клиента
        li.page-list__item
          a.page-list__link(href='#') Справочник покупателя
        li.page-list__item
          a.page-list__link(href='#') Оплата и доставка
        li.page-list__item
          a.page-list__link(href='#') Склад
        li.page-list__item
          a.page-list__link(href='#') Каталог
    // end footer
  // end container_f