mixin akcii-all(o)
  // begin container-int
  .container.container-int
    // begin left-container
    .left-container
      // begin breadcrumb
      +bx-breadcrumb()
      // end breadcrumb
      h1 Акции
      .b-reviews
        .novelty.novelty_reviews-all.clearfix
          .novelty__wrapImgOne.novelty__wrapImgOne_reviews-all
            a(href='/akcii/10_dnei_skidok')
              img.novelty__img(src='img/medium3.jpg', alt='')
          p.novelty__title.novelty__title_reviews-all
            | 10 дней скидок! Получите в подарок к своей покупке 25% скидку при 100% предоплате!
          p.novelty__text.novelty__text_reviews-all
            | consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
          a.btn__blue.btn__blue_reviews-all(href='/akcii/10_dnei_skidok') Подробнее об акции
        .novelty.novelty_reviews-all.clearfix
          .novelty__wrapImgOne.novelty__wrapImgOne_reviews-all
            a(href='/akcii/klassika_po_starim_cenam')
              img.novelty__img(src='img/medium1.jpg', alt='')
          p.novelty__title.novelty__title_reviews-all Классика по старым ценам!!!!
          p.novelty__text.novelty__text_reviews-all
            | consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis .consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales ppenatibus et magnis ulvinar tempor. Cum sociis natoque penatibus et magnis dis .consectetur sodales pulvodales.
          a.btn__blue.btn__blue_reviews-all(href='/akcii/klassika_po_starim_cenam') Подробнее об акции
        .novelty.novelty_reviews-all.clearfix
          .novelty__wrapImgOne.novelty__wrapImgOne_reviews-all
            a(href='/akcii/sovremennie_krovati_po_super-cenam')
              img.novelty__img(src='img/medium5.jpg', alt='')
          p.novelty__title.novelty__title_reviews-all Современные кровати по супер-ценам!
          p.novelty__text.novelty__text_reviews-all
            | consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis .consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales ppenatibus et magnis ulvinar tempor. Cum sociis natoque penatibus et magnis dis .consectetur sodales pulvodales.
          a.btn__blue.btn__blue_reviews-all(href='/akcii/sovremennie_krovati_po_super-cenam') Подробнее об акции
        .novelty.novelty_reviews-all.clearfix
          .novelty__wrapImgOne.novelty__wrapImgOne_reviews-all
            a(href='/akcii/chernaya_piatnica_v_orthosleep')
              img.novelty__img(src='img/medium4.jpg', alt='')
          p.novelty__title.novelty__title_reviews-all Черная пятница в OrthoSleep
          p.novelty__text.novelty__text_reviews-all
            | consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis .consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales ppenatibus et magnis ulvinar tempor. Cum sociis natoque penatibus et magnis dis .consectetur sodales pulvodales.
          a.btn__blue.btn__blue_reviews-all(href='/akcii/chernaya_piatnica_v_orthosleep') Подробнее об акции
        .novelty.novelty_reviews-all.clearfix
          .novelty__wrapImgOne.novelty__wrapImgOne_reviews-all
            a(href='/akcii/rasprodaga_gotovih_krovatei')
              img.novelty__img(src='img/medium2.jpg', alt='')
          p.novelty__title.novelty__title_reviews-all Распродажа готовых кроватей в ТЦ Синдика и МП Румянцево!
          p.novelty__text.novelty__text_reviews-all
            | consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis .consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales ppenatibus et magnis ulvinar tempor. Cum sociis natoque penatibus et magnis dis .consectetur sodales pulvodales.
          a.btn__blue.btn__blue_reviews-all(href='/akcii/rasprodaga_gotovih_krovatei') Подробнее об акции      
        // end left-container
  // end container-int