mixin popUp_comment(o)    
  // begin popUp comment
  .popUp.popUp_comment(data-type='comment')
    .popUp__modal
      .popUp__window.popUp__window_comment
        p.message.message_comment Спасибо, ваш комментарий принят!
        .popUp__window__close
          i.fa.fa-times.fa-2x
  // end popUp comment