mixin scripts(o)
  script(src='js/vendor/jquery-1.11.3.min.js')
  script(src='js/plugins.js')
  script(src='js/nouislider.min.js')
  script(src='js/jquery.raty.js')
  script(src='js/jquery.easydropdown.min.js')
  script(src='js/jquery.flexslider-min.js')
  script(src='js/jquery.liquidcarousel.js')
  script(src='js/main.js')
